@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, b, strong,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
}
@keyframes img-hover {
     from{background-size: 130%;}
     to{background-size: 100%;}
}
@keyframes txt-hover {
     from{font-size: 60px;}
     to{font-size: 64px;}
}
@keyframes fading {
    from{opacity: 0} to{opacity: 1}
}
body{
     font-family: 'Raleway', sans-serif;
}
#menu{
     position: fixed;
     top: 0;
     left: 0;
     width: 30px;
     padding: 20px;
     cursor: pointer;
     z-index: 10000;
}
.bar-1, .bar-2, .bar-3, .bar-4 {
     position: relative;
     display: flex;
     flex-direction: column;
     margin-bottom: 6px;
     width: 30px;
     height: 2px;
     background-color: black;
     transition: 0.5s;
}
.change .bar-1 {
     transform: rotate(-45deg) translate(-4px, 7px);
}
.change .bar-2 {
     opacity: 0;
}
.change .bar-3 {
     transform: rotate(45deg) translate(-4px, -7px);
}
.change .bar-4 {
     opacity: 0;
}
#section-0 {
     background-color: #DEB887;
     width: 100%;
     z-index: 50;
}
h1 {
     position: relative; 
     font-family: 'Patua One', cursive;

     color: white;
     font-size: 6vw;
     font-weight: bold;
     display: inherit;
     text-align: center;
}
h2 {
     position: relative;
     font-size: 3vw;
     font-family: 'Patua One', cursive;
     color: white;
     text-align: center;
     padding-top: 20px;
}
#inici{
     height: 100vh;
     width: 100%;
     min-height: 100vh;
     background-image: url(../img/main.jpg);
     background-repeat: no-repeat;
     background-position-x: center;
     background-position-y: top;
}
#section-head{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 70px;
     z-index: -1;
     background-color: #DEB887;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#section-head p{
     margin-left: 72px;
     font-size: 20px;
     font-weight: bold;
     position: relative;
     top: 47%;
     transform: perspective(1px) translateY(-50%);

}
.central{
     position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
}
.visible{
     display: block !important;
     animation-name: fading;
     animation-duration: 1s;
     animation-direction: normal;
}
#overlay{
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     width: 100%;
     min-height: 100vh;
     z-index: 100;
     background-color: white;
     transition: 1s;
}
#links{
     position: fixed;
     top: 0;
     left: 0;
     width: 50%;
     height: 100vh;
     min-height: 100vh;
     overflow: auto;
}
#pictures{
     position: fixed;
     top: 0;
     right: 0;
     height: 100%;
     width: 50%;
     min-height: 100vh;

}
#inner-links{
     position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
}
.section-link{
     font-family: 'Patua One', cursive;
     font-size: 60px;
     position: relative;
     display: flex;
     flex-direction: column;
     text-decoration: none;
     color: black;
     align-items: center;
     padding: 20px;
     text-transform: uppercase;
     cursor: pointer;
}
.section-link:hover{
     animation-name: txt-hover;
     animation-duration: 1s;
     font-size: 64px;
}
#home-btn{
     background-image: url(../img/home.svg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: 70px 70px;
     height: 70px; 
}
#pic-container{
     position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
     background-color: white;
     width: 35vw;
     height: 85vh;
     margin: 0 auto;
     background-image: url(../img/0.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: 100%; 
     z-index: 100;
}
.pic-anim{
     animation: img-hover 3s;
}
section{
     margin-top: 95px;
     margin-left: 20px;
     margin-right: 20px;
}
#section-1{display: none;}
#section-2{display: none;}
#section-3{display: none;}
#section-4{display: none;}
#section-5{display: none;}

@media only screen and (max-width: 768px) {
     #pictures{
          display: none;
     }
     #links{
          width: 100%;
     }
     h1{
          font-size: 48px;
          margin-left: 5vw;
          margin-right: 5vw;
     }
     h2{
          font-size: 30px;
          margin-left: 5vw;
          margin-right: 5vw;
     }
     .section-link{
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 55px;
     }
}